<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
    
    <a class="navbar-brand" href=""><img src="../assets/logo3.png" /></a>
  
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/homepage" class="nav-link">Homepage</a>
        </li>
        <li class="nav-item">
          <div *ngIf="login">
          <a routerLink="/modify-deli" class="nav-link">Modify</a>
        </div>
        </li>
        <li class="nav-item">
          <a routerLink="/deli-listing" class="nav-link">Menu</a>
        </li>
        <li class="nav-item">
          <a routerLink="/my-order-stat" class="nav-link">Order Status</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-info" data-target="#exampleModalCentered" data-toggle="modal" >Login</button> 

         
        </li>
      </ul>
    </div>
  </div>

</nav>
<div class="modal" id="exampleModalCentered" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenteredLabel">Login page</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row ml-5 mr-5">
          <label for="inputName" class="col-3 col-form-label" id="test">Username</label>
          <div class="col-7">
            <input
              type="text"
              class="form-control"
              id="inputName"
              placeholder="Username"
              
            />
          </div>
        </div>
        <div class="form-group row ml-5 mr-5">
          <label for="inputName" class="col-3 col-form-label" id="test"
            >Password</label
          >
          <div class="col-7">
            <input
              type="password"
              class="form-control"
              id="inputName"
              placeholder="Password"
             
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="login=!login">Login</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
