.navbar {
    padding: 0.8rem;
  }
  .navbar-nav li {
    padding-right: 20px;
  }
  .nav-link {
    font-size: 1.1em !important;
  }
  .active{
    color: Black  !important;
    font-weight: 600;
    
  }